* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    padding: 10px 0;
}

header .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

header .logo img {
    max-width: 150px; /* Tamaño del logo */
    height: auto;
}

header .search-bar {
    display: flex;
    width: 60%; /* Anchura de la barra de búsqueda */
    margin: 0 auto; /* Centramos la barra de búsqueda */
}

header .search-bar .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

header .search-bar .submit {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

header p {
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

header .burger-menu {
    display: none;
}

@media (max-width: 768px) {
    header .top-header {
        flex-direction: column;
    }
    
    header .search-bar {
        width: 100%;
    }
    
    header nav {
        display: none;
    }
    
    header .burger-menu {
        display: block;
    }
}
